.AppLink {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    /*color: #FFFFFF;*/
    color: red;
}

.AppLink:active {
    font-weight: 700;
    color: #397DF6;
}

.AppLink:hover {
    color: #73A5FF;
}

.AppLink:disabled {
    color: #4C4C4C;
}